h1{
    color: blue;
    text-align: center;
}
#blue1{
    width: 200px;
    height: 100px;
    background-color: aqua;
    border-style: dotted;
    border-color: blue; 

    background-image: url("./blue\ perfil.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
div{
    h4{
        color: green;
    }
}
#bst{
    background-color: red;
}